<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <tr>게시판</tr><br>
    <button onclick="signUpReq()">회원가입</button>
    <a href="/board/signup">회원가입</a>
    <button onclick="logInReq()">로그인</button>
    <a href="/login">로그인</a> <br><br>
    <button onclick="saveReq()">글작성</button>
    <a href="/board/save">글작성</a>
    <button onclick="photoReq()">사진</button>
    <a href="/board/photo">사진</a>
    <button onclick="videoReq()">동영상</button>
    <a href="/board/video">동영상</a>
    <button onclick="listReq()">회원목록</button>
    <a href="/board/list">회원목록</a>
</body>
<script>
    const signUpReq = () => {
        location.href = "/board/signup"
    }

    const logInReq = () =>{
        location.href = "/board/login"
    }

    const saveReq = () => {
        location.href = "/board/save";
    }

    const photoReq = () => {
        location.href = "/board/photo";
    }

    const videoReq = () => {
        location.href = "/board/video";
    }

    const listReq = () => {
        location.href = "/board/list";
    }
</script>
</html>