<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax-ex-09</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
    <button onclick="ex09Fn()">ex09 함수 호출</button>
</body>
<script>
    const ex09Fn = () =>{
        const val1 = "HelloSpring!"
        const params = {
            "param1": val1,
            "param2": "안녕",
        };
        $.ajax({
            // 요청방식: post
            // 요청주소: /ex09
            type: "post",
            url: "ex09",
            data: JSON.stringify(params),
            contentType: "application/json",
            success: function (res){
                console.log("성공", res);
            },
            error: function (){
                console.log("실패");
            }
        })
    }
</script>
</html>